<div ng-controller="AccessController">

INPUT DATA

<form name="saveTemplateData" action="#" ng-controller="AccessController">

	  Customer's name: <br/><input type="text" ng-model="form.name">    <br/><br/>
	  Area checked: <br/><input type="text" ng-model="form.area"> <br/><br/>
      Selected date and time (format: 2018-05-30T16:40:00): <br/><input type="text" ng-model="form.time">

        <br/><br/>

			<input type="submit" ngClick="Submit">

		</form>

</div>
