<div ng-controller="AccessController">
  Customers

  <br/><br/>

  <div ng-repeat="customer in customers">
      <div style="margin-left: 20px;">
          name: {{ customer.name }} <br/>
          born: {{ customer.birth }} <br/>
          balance: {{ customer.balance }} <br/>
          is guest: {{ customer.is_guest }} <br/>
          <hr/>
      </div>
  </div>
  <br/>
</div>
